*{ padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}


.container-main{
    width: 100%;
    min-height: 90vh;
}

.active{
    color: #CCC;
}

.btn{
    border-radius: 5px;
    border: 1px solid #C71585;
    background-color: #C71585;
    color: #FFF;
    font-size: 1em;
    padding: 0.3em 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
   transform: scale(1.02);
}