.container_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.content_details{
    padding: 2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
   
}

.options{
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
}

.book_details{
    font-size: 1.2em;
    font-weight: bold;
}

.book_details img{
    width: 340px;
    height: 500px;
}

.btn_delete{
    border: 1px solid #DC143C;
    color: #FFF;
    background-color: #DC143C;
}

/* .btn_delete:hover{
    color: #FFF;
    background-color: #DC143C;
} */


.btn_update{
    border: 1px solid #191970;
    color: #FFF;
    background-color: #191970;
}
/* .btn_update:hover{
    color: #FFF;
    background-color: #191970;
} */

.btn_checkin{
    color: #FFF;
    border: 1px solid #4B0082;
    background-color: #4B0082;
}

/* .btn_checkin:hover{
    color: #FFF;
    background-color: #4B0082;
} */